<Project>
	<ItemGroup>
		<None Include="$(MSBuildThisFileDirectory)runtimes\win\native\7z.dll" Link="7z.dll" CopyToOutputDirectory="PreserveNewest" />
		<None Include="$(MSBuildThisFileDirectory)runtimes\linux\native\7z.so" Link="7z.so" CopyToOutputDirectory="PreserveNewest" />
	</ItemGroup>
</Project>
